@import '../variables.scss';

.root {
  display: inline-block;
  color: white;
}

.link {
  color: white;

  &:global(.is-active) {
    font-weight: bold;
  }
}

.linkActive {
  @mixin arrow-on-bottom-reverse 6px, white, 50%, 17px;
}

.isDisabled {
  opacity: 0.5;
  cursor: default;
}

.middot {
  display: inline-block;
  margin: 0 4px;
}
