/* There is only implicit math, we can't do +1 inside of a mixin */
$bp-palm-s: 360px;
$bp-palm-s-max: 361px;
$bp-palm-m: 400px;
$bp-palm-m-max: 401px;
$bp-palm-l: 440px;
$bp-palm-l-max: 441px;

$bp-hand-s: 520px;
$bp-hand-s-max: 521px;
$bp-hand-m: 600px;
$bp-hand-m-max: 601px;
$bp-hand-l: 680px;
$bp-hand-l-max: 681px;

$bp-lap-s: 780px;
$bp-lap-s-max: 781px;
$bp-lap-m: 920px;
$bp-lap-m-max: 921px;
$bp-lap-l: 1040px;
$bp-lap-l-max: 1041px;

$bp-desk-s: 1280px;
$bp-desk-s-max: 1281px;
$bp-desk-m: 1400px;
$bp-desk-m-max: 1401px;
$bp-desk-l: 1640px;
$bp-desk-l-max: 1641px;
