/* Descriptive colors */

$color-primary: #258ebd;
$color-dark: #2a4550;
$color-tint: #edf0f2;

/* Functional colors */

$color-text-body: black;
$color-text-meta: color(black whiteness(80%));
$color-link: #1a0dab;
$color-border: color(white blackness(30%));

$color-well: rgba(14, 155, 255, 0.06)
