{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "globals": {
    "__DEV__": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "space-before-function-paren": 0,
    "semi": 0,
    "indent": 0,
    "quote-props": 0,
    comma-dangle: [2, "never"],
    "jsx-quotes": [2, "prefer-double"]
  }
}
