.PageHeader {
	@include font-smoothing();
	position: relative;
	font-weight: 500;
}

.PageHeader-content {
	margin: 12px 0;
}

.PageHeader-navigation,
.PageHeader-title {
	display: inline-block;
}

.PageHeader-title {
	margin-right: 10px;
}
