<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>MSBeats</title>
<meta name="description" content="Share music with your Make School buddies">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%- stylesheets.map(function (stylesheet) {
	return '<link rel="stylesheet" href="' + stylesheet + '">';
}) %>
