<!doctype html>
<html lang="en">
	<head>
		<%- include ../partials/head %>
	</head>
	<body class="Pane--tint">
		<%- include ../components/PageHeader %>
		<%- include ../components/SubmitForm %>
		<main role="main">
			<div class="Pane Pane--white Inner">
				<% for (var i = 0; i < 20; i++) { %>
					<div class="Pane SongListItem">
						<div class="SongListItem-buttons">
							<a class="SongListItem-upvote"></a>
							<a class="SongListItem-downvote"></a>
						</div>
						<div class="SongListItem-content">
							<a class="SongListItem-linkTitle" href="https://www.youtube.com/watch?v=ANR5wQDy1QU">Drake Ft Joe Trufant - Caught Up ( NEW SONG 2016 )</a>
							<span class="SongListItem-subTitle">
								<span class="SongListItem-points">87 points</span>
								by <span class="SongListItem-author">Abe</span>
								<span class="SongListItem-time">2 hours ago</span>
							</span>
						</div>
					</div>
				<% } %>
			</div>
		</main>
		<%- include ../partials/scripts %>
	</body>
</html>
