<!doctype html>
<html lang="en">
	<head>
		<%- include ../partials/head %>
	</head>
	<body>
		<%- include ../components/PageHeader %>
		<main role="main">
			
		</main>
		<%- include ../partials/scripts %>
	</body>
</html>
