<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MSBeats</title>
        <meta name="description" content="Share music with your Make School buddies">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/dist/main.css">
    </head>
    <body>
      <div class="PageHeader">
        <div class="Inner">
          <h1>Make School Beats</h1>
          <nav class="Navigation"></nav>
        </div>
      </div>
      <main role="main">

      </main>
    </body>
</html>
