<div class="PageHeader">
	<div class="Pane Pane--dark Inner">
		<div class="PageHeader-content">
			<h1 class="PageHeader-title">Make School Beats</h1>
			<nav class="PageHeader-navigation Navigation">
				<a href="#" class="Navigation-item">submit</a>
			</nav>
		</div>
	</div>
</div>
