<div class="Pane is-hidden SubmitForm">
	<div class="Pane Pane--primary-tint Inner">
		<form>
			<div class="FormRow">
				<label class="FormRow-subBox" for="title">title</label>
				<input class="FormRow-mainBox TextInput" type="text" id="title" name="title">
			</div>
			<div class="FormRow">
				<label class="FormRow-subBox" for="">url</label>
				<input class="FormRow-mainBox TextInput" type="text" id="url" name="url">
			</div>
			<div class="FormRow">
				<div class="FormRow-mainBox FormRow-mainBox--align"><button>Submit</button></div>
			</div>
		</form>
	</div>
</div>
