@import '../variables.scss';

.root {
  margin: 1em 0;
  margin-bottom: 0.5em;
  animation: appear 0.5s normal forwards;
}

.header {
  color: $color-text-meta;
  font-size: $font-size-80;
}

.content {
  border-bottom: 1px solid $color-border;
  padding-bottom: 0.5em;
}

.body {
  margin: 0.5em 0 0.5em;
}

.reply {
  display: inline-block;
  font-size: $font-size-80;
  color: $color-text-meta;
  cursor: pointer;

  &:hover {
    color: $color-text-body;
  }
}


.cancelReply {
  margin-top: 0.5em;
}


.children {
  .root {
    padding-bottom: 0;
    border-left: 1px solid #eee;
  }

  .children,
  .content {
    margin-left: 2.5%;
  }
}
